@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');


*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}


body{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* width: 100vw; */
    background-image: linear-gradient(to left, #133b4d, #01161f);
}

h2{
    transition: 0.3s;
    letter-spacing: -0.5px;
    color: rgba(0, 0, 0, 0.781);
}
h2:hover{
    transform: translateY(-2px);
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.678);
}


.calculator{
    background-color: transparent;
    padding: 35px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
    border: 0.5px solid white;
}


input{
    padding: 30px;
    margin: 20px;
    background-color: transparent;
    font-size: 25px;
    text-align: right;
    outline: none;
    border-radius:8px ;
    border: none;
    box-shadow: 2px 0 10px rgba(255, 255, 255, 0.1);
}

input::placeholder{
    color: white;
}
.row{
    display: flex;
    justify-content: space-between;
}
.row button{
    width: 55px;
    height: 55px;
    padding: 5px;
    margin: 10px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-image: linear-gradient(to top, #133b4d, #01161f);
    transition: 0.3s;

}

.row button:hover{
    background-image: linear-gradient(to top, #071d27, #012838);
    box-shadow: 0 0 5px #134c66;
}

.operator{
    color: greenyellow;
}


#equalbtn {
    background-image: linear-gradient(to right, #aa5007 0%, #aa5007 100%);
}


@media (max-width : 500px) {
    .calculator{
        padding: 20px;
    }

    input{
        padding: 15px;
        margin: 10px;
        font-size: 20px;
    }

    .row button{
        width: 50px;
        height: 50px;
        padding: 5px;
        margin: 10px;
        background-color: #01161f;
    }
}


@media (max-width : 370px) {
    .calculator{
        padding: 12px;
    }

    input{
        padding: 10px;
        margin: 7px;
        font-size: 10px;
    }

    .row button{
        width: 35px;
        height: 35px;
        padding: 5px;
        margin: 8px;
        background-color: #01161f;
        font-size: 12px;
    }
}

